{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}
<br />
<form name="dentistLogin" form action="" onsubmit="" method="POST">
  <label for="pID">Dentist ID: </label>
  <input
    type="number"
    min="0"
    max="1000"
    id="pID"
    name="pID"
    value=""
  /><br /><br />

  <input type="submit" value="login" class="btn btn-primary" name="login" />
  <button type="button" onclick="location.href='/'" class="btn btn-primary">Home</button>
</form>
 {% endblock %}
